*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-hight: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}




 .div {
    background: linear-gradient(
      117deg,
      rgba(136, 206, 168, 0.82) 0.23%,
      #2b2741 99.78%
    );
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 24px 0px 42px 14px;
  }
  @media (max-width: 991px) {
    .div {
      padding: 0 20px;
    }
  }
  .span {
    display: flex;
    width: 1024px;
    max-width: 100%;
    flex-direction: column;
    align-items: start;
  }
    .span-2 {
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: 25px;
    background-color: rgba(252, 198, 103, 0.8);
    flex-grow: 1;
    padding: 13px 34px 7px;
    font: 500 32px Space Grotesk, sans-serif;
  }
  @media (max-width: 991px) {
    .span-2 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  
  .div-2 {
    color: #fff;
    text-align: center;
    letter-spacing: 3.2px;
    align-self: end;
    margin-top: 17px;
    white-space: nowrap;
    font: 400 64px Lato, sans-serif;
  }
  @media (max-width: 991px) {
    .div-2 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-3 {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1277px;
    flex-direction: column;
    margin: 106px 0 28px;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-4 {
    border-radius: 10px;
    background-color: #7e859b;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
    padding: 22px 25px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
  .span-3 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .span-3 {
      max-width: 100%;
    }
  }
  .div-5 {
    justify-content: center;
    color: #fff;
    font: 400 64px Jost, sans-serif;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-6 {
    color: #ff4343;
    margin-top: 48px;
    font: 400 64px Marmelad, sans-serif;
  }
  @media (max-width: 991px) {
    .div-6 {
      max-width: 100%;
      font-size: 40px;
      margin-top: 40px;
    }
  }
  .img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 200px;
    overflow: hidden;
	border-radius: 5px;
    align-self: stretch;
    max-width: 100%;
  }
  .div-7 {
	margin-top: 375px;
	margin-left: 1150px;
  }
  .span-4 {
    justify-content: center;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    background-color: #ff4343;
    align-self: end;
	
    padding: 10px 35px 10px;
    font: 400 48px Jost, sans-serif;
  }
  @media (max-width: 991px) {
    .span-4 {
      font-size: 40px;
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
